@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora&family=Poppins:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background-color: #FFBDF7;
}

#calcTemp {
    padding: 100px 180px;
    min-height: 350px;
    background-color: #E1AEFF;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;
}

label {
    font-size: 30px;
    line-height: 50px;
}

#temp {
    width: 110px;
    height: 34px;
    border-radius: 10px;
    margin: 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
}

#temp_diff {
    width: 120px;
    height: 34px;
    border-radius: 10px;
    margin: 12px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
}

#submit {
    width: 100px;
    border-radius: 10px;
    margin: 30px 0 20px 0;
    font-size: 18px;
    background-color: rgb(218 229 220);
    padding: 5px;
    transition: all 0.5s ease;
}

#submit:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

#result{
    font-size: 27px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background-color: #FFBDF7;
}

#exp {
    padding: 70px 60px;
    min-height: 350px;
    background-color: #E1AEFF;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 20px;
}